

.bg-yellow {
    background: #FFFACD
}

.bg-yellow-dark {
    background: #fde0b6
}

.bg-gray {
    background: gray;
}
.bg-gray-dark {
    background-color: #423b20
}

.bg-info-subtle {
   background-color: #cff4fc;
}

.btn-primary {
    color: #fff !important;
    background-color: #3bc21b !important;
    border-color: #2cac18 !important;
}
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background-color: #258d14 !important;
        border-color: #2cac18 !important;
    }

/*  btn-warning Defaults */
.btn-warning {
    color: #705103 !important;
    background-color: lightpink !important;
    border-color: black !important;
}

    .btn-warning:focus,
    .btn-warning:hover {
        color: #705103 !important;
        background-color: #fa3f3f !important;
        border-color: black !important;
    }