

.bg-yellow {
    background: #FFFACD
}

.bg-yellow-dark {
    background: #fde0b6
}

.bg-gray {
    background: gray;
}
.bg-gray-dark {
    background-color: #423b20
}

.bg-info-subtle {
   background-color: #cff4fc;
}

.btn-primary {
    color: #fff !important;
    background-color: #3bb61e !important;
    border-color: #2cac18 !important;
}
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background-color: #258d14 !important;
        border-color: #2cac18 !important;
    }

/*  btn-warning Defaults */
.btn-warning {
    color: #705103 !important;
    background-color: lightpink !important;
    border-color: black !important;
}

    .btn-warning:focus,
    .btn-warning:hover {
        color: #705103 !important;
        background-color: #fa3f3f !important;
        border-color: black !important;
    }

/* #region Paginagion */
.pagination .page-link {
    background-color: var(--pagination-bg, #FFFFFF);
    border-color: var(--pagination-border, #808080);
    color: var(--pagination-text, #424143);
}

.pagination .page-item.active .page-link {
    background-color: var(--pagination-active-bg, #808080);
    border-color: var(--pagination-active-border, #808080);
    color: var(--pagination-active-text, #FFFFFF);
}

.pagination .page-link:hover {
    background-color: var(--pagination-hover-bg, #D3D3D3);
    color: var(--pagination-hover-text, #424143);
}

.pagination .page-item.disabled .page-link {
    background-color: var(--pagination-disabled-bg, #f8f9fa);
    border-color: var(--pagination-disabled-border, #808080);
    color: var(--pagination-disabled-text, #6c757d);
}

/* #endregion Pagination */