@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password Reset";
}

<head>
    <title>@ViewData["Title"]</title>
</head>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card bg-gray rounded text-center p-4 shadow">
                
                <h2 class="mb-4">
                    ❓ @ViewData["Title"]
                </h2>
                <p class="mb-4">
                    Please check your email to reset your password.
                </p>
                <a href="~/" class="btn btn-sm btn-primary rounded-2 shadow">🏠 Home</a>
                
            </div>
        </div>
    </div>
</div>
